/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* This imports the Audiowide font from Google Fonts. It will be used for the logo and main navigation elements. */

/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
    color: #929191;
}

/* This sets the margin and padding of the html and body elements to 0, and sets their height to 100%. The color property sets the text color for the entire document. */

html {
		/* Standard text-settings below */
    line-height: 1.4em;
}

/* This sets the line-height for all text elements within the html element. */

.logo{
    font-size: .5rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* This sets the font size, family, weight, and style for the logo class. */

#logo{
    padding: 100px;
}

/* This sets the padding for the logo ID. */

main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* This sets the display property to block, and centers the main image element by setting the margin-left and margin-right properties to auto. The width property is set to 50%. */

footer img{
  max-width: 10%;
  width:50%;
}

/* This sets the maximum width and width properties for the footer image element. */

/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

/* This is a mobile-first approach, where the design is optimized for phone sizes first, and then adjusted for larger screens using media queries. */

header{
  /*  box model properties  */
  font-size: 1.25rem;

  /* position properties */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  /* flex properties */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

/* This sets the font size, position, and flex properties for the header element. */

header a {
  color: #eee;
  text-decoration: none;
}

/* This sets the color and text-decoration properties for all anchor elements within the header. */

header a:hover {
  color: #ec0000;
}

/* This sets the color property for all anchor elements within the header when they are hovered over. */

.logo {
  font-size: 1.5rem;
}

/* This sets the font size for the logo class. */

.main-nav{
  font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* This sets the font family, weight, and style for the main-nav class. */

#p1, #p2{
  text-align: center;
  font: 1em sans-serif;
  padding: 1px;
  color:black;
}

/* This sets the text alignment, font, padding, and color properties for the p1 and p2 IDs. */

header, footer{
    background-color: #2d2dfd;
    color: #eee;
    padding: 1.25em;
}

/* This sets the background color, color, and padding properties for the header and footer elements. */

button{
  width: 20%;
  color: blue;
}

/* This sets the width and color properties for the button element. */

main{
    padding: 1em;
}

/* This sets the padding property for the main element. */

a {
    color: #FFFFFF;
  }

/* This sets the color property for all anchor elements. */

a:hover {
    color: #ce2f2f;
  }

/* This sets the color property for all anchor elements when they are hovered over. */

/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom
