/* Basic CSS resets -- leveling slight inconsistencies in browsers */
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

/*
* Box-sizing is set to border-box to include padding and border in the element's total width and height.
* This helps to avoid inconsistencies in different browsers.
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:rgb(245, 238, 186);
}

/* Setting 100% height for html and body elements ensures that the full viewport height is utilized. */
html,
body {
  height: 100%;
}

/*
* Standard text-settings for html element:
* - Font-size: 1em is the base font size for the document.
* - Line-height: 1.4em is the vertical spacing between lines of text.
*/
html {
  font-size: 1em;
  line-height: 1.4em;
}

/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

main {
  /*
  * Width: auto adjusts the width of the main element according to the content.
  * Text-align: left aligns the text to the left.
  * Padding: 1rem provides equal spacing around the content.
  */
  width: auto;
  text-align: left;
  padding: 1rem;
}

header {
  /* Text-align: center horizontally centers the text. */
  text-align: center;
}

h2 {
  /* Padding: .5rem adds spacing around the heading. */
  padding: .5rem;
}

.titleOfArticle {
  /*
  * Font-size: 4rem sets the font size of the title.
  * Font-family: 'Honk', system-ui applies the 'Honk' font, and falls back to the system font if 'Honk' is not available.
  * Padding: 4rem adds spacing around the title.
  * Text-align: center horizontally centers the title.
  */
  font-size: 4rem;
  font-family: 'Honk', system-ui;
  padding: 4rem;
  text-align: center;
}

#mainTopic {
  /*
  * Color: #000 sets the text color to black.
  * Padding: .5rem adds spacing around the text.
  * Font-size: 2rem sets the font size of the main topic.
  * Text-align: center horizontally centers the main topic.
  * Line-height: 1em sets the vertical spacing between lines of text.
  */
  color: #000;
  padding: .5rem;
  font-size: 2rem;
  text-align: center;
  line-height: 1em;
}

.workCited {
  /*
  * Padding: .5em adds spacing around the work cited section.
  * Line-height: 1.75 sets the vertical spacing between lines of text.
  * Margin: 1em adds spacing around the work cited section.
  * Font-size: 1rem sets the font size of the work cited.
  */
  padding: .5em;
  line-height: 1.75;
  margin: 1em;
  font-size: 1rem;
}

img {
  /*
  * Display: block makes the image a block-level element, ensuring that it takes up the full width available.
  * Margin-left: auto and margin-right: auto horizontally center the image.
  * Width: 50% sets the width of the image to 50% of its parent container.
  * Padding: 0 removes any padding around the image.
  */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 0;
}

#container {
  /* Padding: 3rem adds spacing around the container. */
  padding: 3rem;
}

/* .p6 {
  /*
  * Color: #000 sets the text color to black.
  * Padding: 2
} */